<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ダブル八百長オセロ</title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style_neon.css">
    <script src="/send_url.js"></script>
  </head>
  <body class="body-top">
    <header>
    </header>
    <div class="top-wrapper">
      <div class="top-detail">
        <!-- <h2 class="subtitle">ダブル八百長オセロ</h2> -->
        <h1 id="title">Double-YAOTYO Reversi</h1>
        <p class="description">
          You have to lose the match against OpenAI
        </p>
        <a href="/game" class ="btn start-btn">GAME START <span class="start-sankaku">▶︎</span> <span class="start-yazirusi">--></span> </a>
      </div>
    </div>
    <div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>

     </ul>
    </div>
    <div class="stone1"></div>
    <div class="stone2"></div>
  </body>
</html>